<!DOCTYPE html>
<html lang="en" ng-app="multiApp">
<head>
    <meta charset="UTF-8">
    <title>Multiplication Tables (Unit 1 Lesson 3)</title>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body >

  <div ng-controller="DisplayController">
    {{content || 'Nothing Selected'}}
  </div>

  <div ng-controller="MultiplicationController" initial-number-limit="10">
   <input type="number" ng-model="numberLimit" placeholder="Enter a number"/>

    <table>
        <tr ng-repeat="i in numbers">
            <td ng-repeat="j in numbers"
                ng-mouseover="setActiveFactors(i, j)"
                ng-class="{hover: matchesFactor(i, j)}"
                ng-mouseout="clearActiveFactors()"
                ng-click="setActiveNumber(compute(i, j))">
                {{compute(i, j);}}
              </td>
        </tr>
    </table>

  </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>

</body>
</html>
